In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls

Code.ipynb  test_values.csv  train_labels.csv
README.md   train.csv	     train_values.csv

In [3]:
values = pd.read_csv('train_values.csv')
values.tail()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
175,5qfar3,2,reversible_defect,125,4,2,1,0,254,0.2,1,67,163,0
176,2s2b1f,2,normal,180,4,0,0,1,327,3.4,0,55,117,1
177,nsd00i,2,reversible_defect,125,3,0,0,0,309,1.8,1,64,131,1
178,0xw93k,1,normal,124,3,2,1,0,255,0.0,1,48,175,0
179,2nx10r,1,normal,160,3,1,0,0,201,0.0,0,54,163,0

In [4]:
values.columns

Index(['patient_id', 'slope_of_peak_exercise_st_segment', 'thal',
       'resting_blood_pressure', 'chest_pain_type', 'num_major_vessels',
       'fasting_blood_sugar_gt_120_mg_per_dl', 'resting_ekg_results',
       'serum_cholesterol_mg_per_dl', 'oldpeak_eq_st_depression', 'sex', 'age',
       'max_heart_rate_achieved', 'exercise_induced_angina'],
      dtype='object')

In [5]:
labels = pd.read_csv('train_labels.csv')
labels.tail()

    patient_id  heart_disease_present
175     5qfar3                      1
176     2s2b1f                      1
177     nsd00i                      1
178     0xw93k                      0
179     2nx10r                      0

In [6]:
df = values.merge(labels)

In [7]:
df.tail()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,heart_disease_present
175,5qfar3,2,reversible_defect,125,4,2,1,0,254,0.2,1,67,163,0,1
176,2s2b1f,2,normal,180,4,0,0,1,327,3.4,0,55,117,1,1
177,nsd00i,2,reversible_defect,125,3,0,0,0,309,1.8,1,64,131,1,1
178,0xw93k,1,normal,124,3,2,1,0,255,0.0,1,48,175,0,0
179,2nx10r,1,normal,160,3,1,0,0,201,0.0,0,54,163,0,0

In [8]:
len(df) == len(values)

True

In [9]:
df.to_csv('train.csv')

In [10]:
!ls

Code.ipynb  test_values.csv  train_labels.csv
README.md   train.csv	     train_values.csv

In [11]:
data = pd.read_csv('train.csv')

In [12]:
data.head(3)

,Unnamed: 0,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,heart_disease_present
0,0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0,0
1,1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0,0
2,2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1,1

In [13]:
data.columns

Index(['Unnamed: 0', 'patient_id', 'slope_of_peak_exercise_st_segment', 'thal',
       'resting_blood_pressure', 'chest_pain_type', 'num_major_vessels',
       'fasting_blood_sugar_gt_120_mg_per_dl', 'resting_ekg_results',
       'serum_cholesterol_mg_per_dl', 'oldpeak_eq_st_depression', 'sex', 'age',
       'max_heart_rate_achieved', 'exercise_induced_angina',
       'heart_disease_present'],
      dtype='object')

In [14]:
data.drop('Unnamed: 0',1,inplace = True)

In [15]:
data.head(3)

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,heart_disease_present
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1,1

In [16]:
data['thal'].unique()

array(['normal', 'reversible_defect', 'fixed_defect'], dtype=object)

In [17]:
thal = pd.get_dummies(data['thal'])

In [19]:
thal.columns

Index(['fixed_defect', 'normal', 'reversible_defect'], dtype='object')

In [21]:
data = data.join(thal)

In [22]:
data.columns

Index(['patient_id', 'slope_of_peak_exercise_st_segment', 'thal',
       'resting_blood_pressure', 'chest_pain_type', 'num_major_vessels',
       'fasting_blood_sugar_gt_120_mg_per_dl', 'resting_ekg_results',
       'serum_cholesterol_mg_per_dl', 'oldpeak_eq_st_depression', 'sex', 'age',
       'max_heart_rate_achieved', 'exercise_induced_angina',
       'heart_disease_present', 'fixed_defect', 'normal', 'reversible_defect'],
      dtype='object')

In [23]:
data.drop('thal',1,inplace = True)

In [25]:
len(data.columns)

17

In [26]:
data.head(2)

,patient_id,slope_of_peak_exercise_st_segment,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,heart_disease_present,fixed_defect,normal,reversible_defect
0,0z64un,1,128,2,0,0,2,308,0.0,1,45,170,0,0,0,1,0
1,ryoo3j,2,110,3,0,0,0,214,1.6,0,54,158,0,0,0,1,0

In [27]:
data.drop('patient_id',1,inplace = True)

In [28]:
data.head()

,slope_of_peak_exercise_st_segment,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,heart_disease_present,fixed_defect,normal,reversible_defect
0,1,128,2,0,0,2,308,0.0,1,45,170,0,0,0,1,0
1,2,110,3,0,0,0,214,1.6,0,54,158,0,0,0,1,0
2,1,125,4,3,0,2,304,0.0,1,77,162,1,1,0,1,0
3,1,152,4,0,0,0,223,0.0,1,40,181,0,1,0,0,1
4,3,178,1,0,0,2,270,4.2,1,59,145,0,0,0,0,1

In [29]:
data.isnull().sum()

slope_of_peak_exercise_st_segment       0
resting_blood_pressure                  0
chest_pain_type                         0
num_major_vessels                       0
fasting_blood_sugar_gt_120_mg_per_dl    0
resting_ekg_results                     0
serum_cholesterol_mg_per_dl             0
oldpeak_eq_st_depression                0
sex                                     0
age                                     0
max_heart_rate_achieved                 0
exercise_induced_angina                 0
heart_disease_present                   0
fixed_defect                            0
normal                                  0
reversible_defect                       0
dtype: int64

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 16 columns):
slope_of_peak_exercise_st_segment       180 non-null int64
resting_blood_pressure                  180 non-null int64
chest_pain_type                         180 non-null int64
num_major_vessels                       180 non-null int64
fasting_blood_sugar_gt_120_mg_per_dl    180 non-null int64
resting_ekg_results                     180 non-null int64
serum_cholesterol_mg_per_dl             180 non-null int64
oldpeak_eq_st_depression                180 non-null float64
sex                                     180 non-null int64
age                                     180 non-null int64
max_heart_rate_achieved                 180 non-null int64
exercise_induced_angina                 180 non-null int64
heart_disease_present                   180 non-null int64
fixed_defect                            180 non-null uint8
normal                                  180 non-null uint8
reversible_defect                       180 non-null uint8
dtypes: float64(1), int64(12), uint8(3)
memory usage: 18.9 KB

In [35]:
data.describe()['max_heart_rate_achieved']

count    180.000000
mean     149.483333
std       22.063513
min       96.000000
25%      132.000000
50%      152.000000
75%      166.250000
max      202.000000
Name: max_heart_rate_achieved, dtype: float64

In [40]:
present = data[data['heart_disease_present'] == 1]

In [41]:
len(present)

80

In [42]:
notpresent = len(data) - len(present)

In [43]:
notpresent

100

In [44]:
proportion_present = len(present)/len(data)

In [45]:
proportion_absent = notpresent/len(data)

In [48]:
print(round(proportion_present,3),round(proportion_absent,3))

0.444 0.556

In [49]:
%matplotlib notebook

In [50]:
from matplotlib import pyplot as plt

In [51]:
data['slope_of_peak_exercise_st_segment'].unique()

array([1, 2, 3])

In [54]:
slope1 = len(data[data['slope_of_peak_exercise_st_segment']==1])
slope2 = len(data[data['slope_of_peak_exercise_st_segment']==2])
slope3 = len(data) - slope1 - slope2

In [55]:
print(slope1,slope2,slope3)

93 75 12

In [59]:
print(len(present[present['slope_of_peak_exercise_st_segment'] == 1]))
print(len(present[present['slope_of_peak_exercise_st_segment'] == 2]))
print(len(present[present['slope_of_peak_exercise_st_segment'] == 3]))

25
47
8

In [109]:
47/75

0.6266666666666667

In [113]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
clf = LogisticRegression(solver = 'lbfgs',max_iter = 1000,random_state = 0)

x = data['slope_of_peak_exercise_st_segment'].tolist()
x = np.array(x)
x = x.reshape(-1,1)
x_train,x_test,y_train,y_test = train_test_split(x,data['heart_disease_present'])

clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=1000, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [120]:
clf.score(x_test,y_test)

0.7111111111111111

In [118]:
from sklearn.dummy import DummyClassifier

dummy = DummyClassifier(strategy = 'most_frequent',random_state= 0).fit(x_train,y_train)

In [119]:
dummy.score(x_test,y_test)

0.4666666666666667

In [127]:
print(data['resting_blood_pressure'].min(),
data['resting_blood_pressure'].max())

94 180

In [124]:
present['resting_blood_pressure'].mean()

132.8